/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #00b615;
  --secondary-color: #00b615;
  --background-color: #343434;
  --text-color: #18181B;
  --accent-color: #10B981;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: rgb(255, 255, 255);
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: center;
}

.App-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

main {
  background-color: #5c5c5c;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

/* Responsive design */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .App-header {
    padding: 20px;
  }

  .App-header h1 {
    font-size: 2rem;
  }
}